#root {
  max-width: 1280px;
  display: flex;
  justify-content:center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {

  padding: 4rem;
  background-image: linear-gradient(45deg, #31E08D,#31BFE0);
  background-position: center;
  background-size: 100rem;
  border-radius: 0rem 0rem 1rem 1rem;
  flex-wrap: wrap;
  position: sticky;
  z-index: 10000000;
}
.headerDiv{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.headerbutton button{
  color: hsla(0, 0%, 100%);
  background-color: transparent;
}
#OptionButton{
  background-color: rgb(255, 0, 89);
}
.title{
  color: white;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.homePage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropDown {
  position: absolute; /* or fixed */
  top: 100%; /* Adjust this value to position the dropdown below the header */
  left: 50%; /* Adjust this value if needed */
  transform: translateX(-50%);
  z-index: 9999; /* Ensure a lower z-index value compared to the header */
  padding: 20px;
  background-color: hsla(37, 37%, 16%,0.8);
  font-size: 4rem;
  color: white;
}
ul{
  list-style-type: none;
}
.linkItem {
  color: rgb(255, 255, 255); /* Change 'blue' to whatever color you desire */
  text-decoration: none; /* Remove underline from links */
}
.weatherContainer{
  transform: translate(10%);
}