#root {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-image: linear-gradient(45deg, #31E08D,#31BFE0);
  background-position: center;
  background-size: 100rem;
  border-radius: 0rem 0rem 1rem 1rem;
}
.headerDiv{
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
.headerbutton button{
  color: hsla(0, 0%, 100%);
  background-color: transparent;
}
#OptionButton{
  background-color: #ef5f22;
}
#logo{
  width: 100px;
  height: 100px;
}
.logoSide{
  margin-right: 2rem;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.dropDown{
  position: absolute;
  z-index: 100000;
  transform: translate(-50%);
  top: 20%;
  padding: 20px;
  background-color: #465C61;
  font-size: 4rem;
  color: white;
}
ul{
  list-style-type: none;
}
.linkItem {
  color: rgb(255, 255, 255); /* Change 'blue' to whatever color you desire */
  text-decoration: none; /* Remove underline from links */
}