.leaflet-container {
    width: 100%;
    height: 60vh;
    }

.EarthQuakeContainer{
    margin: 3rem 0rem;
    border:1px solid black;

}
.EarthheaderDiv h1{
    color: #465961;
    margin-bottom: 2rem;
}

.EarthPage h2{
    color: #465961;
}
.EarthquakeList {
    max-height: 200px; /* Set the maximum height of the list */
    overflow-y: auto; /* Enable vertical scrolling */
    color: #465C61;
  }
.EarthquakeList li{
    padding: 0.5rem;
    border-bottom: 1px solid #465C61;
  
}

.weeklyEarthQuakeSection{
    color: #465C61;

}