.footer {
    background: rgba(213, 99, 126, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(213, 99, 126, 0.52);
      color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoContainer img {
    margin-right: 10px;
  }
  
  .footerLinks button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .footerLinks button:hover {
    text-decoration: underline;
  }
  
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footerBottom p {
    margin: 0;
  }
  