.footer {
    background: linear-gradient(45deg, #31E08D,#31BFE0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoContainer img {
    margin-right: 10px;
  }
  
  .footerLinks button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .footerLinks button:hover {
    text-decoration: underline;
  }
  
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footerBottom p {
    margin: 0;
  }
  