


h2{
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.weatherContainer{
    background: rgb(34, 91, 151);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1rem;
}

.newsContainer{
    background: rgb(34, 91, 151);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    color: rgb(86, 86, 120);
    padding-left: 1rem;
    margin: 2rem 0rem;
}
  

#homeWeather{
    
}


.newsContainer {
    overflow: hidden;
    min-width: 100%; /* Ensure it doesn't exceed container width */
  }
  
  .newsContainer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping to each item */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }
  
  .newsContainer ul li {
    flex: 0 0 auto; /* Ensure items don't grow or shrink */
    margin-right: 4rem; /* Adjust spacing between news items */
    scroll-snap-align: start; /* Snap each item to the start of the container */
    width: 70%; /* Set a fixed width for each news item */
  }
  
  .newsContainer ul li:last-child {
    margin-right: 0; /* Remove margin from the last item to avoid extra space */
  }
  
  .newsContainer img {
    max-width: 100%;
    height: 30vh; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire space */
  }
  
  .newsContainer h2 {
    margin: 10px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for long text */
  }
  
  .newsContainer p {
    margin: 5px 0;
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for long text */
  }
  

  .weatherContainer input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
  }
  .weatherContainer input::placeholder{
    color: #fff;
 
  }